---
layout: post
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<style>
  #encrypt-password {
	background-color:#F4F4F4;
	margin-right: -2.5px;
	height: 25px;
	width: 50%;
	border: none;
  }
  #encrypt-password:focus {
    outline: none;
  }
  code {
	background-color:#FFF8E5;
  }
  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  p {
	text-align: left;
  }
</style>
<div id="encrypted-content">
  <p style="font-family:'Arvo',serif;font-size:30px;text-align:center;">Locked Post</p>
  <br>
  <form id="encrypt-form" action="#" method="" style="text-align:center">
	<input id="encrypt-password"
		   type="password"
		   name="password"
		   placeholder="> {{ page.pwdhint | default:'pwd' }}"
		   autofocus />
  </form>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.js" integrity="sha512-bvV1V1YSjP1fbfKJjTlNmdnUO2XpsLYUdKwmz5UXBi5U+x40rx9JpA0ooQUMZfpz1MaaBC0ydNLoC6r0sitPUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
	document.getElementById('encrypt-form').addEventListener('submit', function(e) {
		e.preventDefault();
		var ct  = '{{ page.encrypted }}',
		    key = document.getElementById('encrypt-password').value;
			key = CryptoJS.MD5(key).toString().substr(0,32);
		var pt  = CryptoJS.AES.decrypt(ct,key).toString(CryptoJS.enc.Utf8);
		showdown.setFlavor('github');
		var converter = new showdown.Converter(),
		    content   = converter.makeHtml(pt);
		var langs = ["cpp","python","html"]
		langs.forEach((e) => {
		  content = content.replace('<code class="'+e+' language-'+e+'">','<code class="language-'+e+'" style="text-align:left">');
		});
		content = content.replace('<pre>','<pre style="background:#F0F0F0">');
		var parent = document.getElementById("post-content");
		var pc = document.createElement("div");
		pc.setAttribute("id","decrypted-content");
		parent.insertBefore(pc,document.getElementById("encrypted-content"));
		document.getElementById("decrypted-content").innerHTML = content;
		MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
		hljs.highlightAll();
		var child = document.getElementById("encrypted-content");
		console.log(typeof(child));
		console.log(child);
		child.parentNode.removeChild(child);
	});
  </script>
</div>